body {
    font-family: "Montserrat";
}

.header__content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.logo {
    color: black;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-button {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background: 0;
}

.right-button {
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: 0;
    width: 90px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid black;
}

@media screen and (max-width: 652px) {
    .header__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
}
